@charset "UTF-8";
/*
Dawn
A simple Tumblr Dashboard theme for XKit.
Made by Jean-François Goncalves
This work is under the MIT licence.
*/
body {
  background: url("https://31.media.tumblr.com/7ea80ee716d931c2fab61c131c11fab3/tumblr_n29wm7xJi51qcb0gvo1_1280.jpg") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed; }

/* Search field */
.search_form_row {
  background: rgba(0, 0, 0, 0.3); }

/* Main Menu */
.tab_bar .tab.iconic .tab_anchor {
  opacity: 0.8; }

.tab_bar .tab.iconic:hover .tab_anchor, .tab_bar .tab.iconic:active .tab_anchor {
  opacity: 1; }

.tab_bar .tab {
  color: rgba(255, 255, 255, 0.8); }
  .tab_bar .tab:hover {
    color: white; }

#content {
  background: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 6px;
  border-radius: 6px; }

/* HELLA NEW BLOOD ORANGE */
#tab_switching .tab_notice, #header .tab .tab_notice, .popover_blogs .tab_notice, .blog_menu .selected_blog .tab_notice {
  background-color: #D8320B;
  border-radius: 3px; }

/* Arrow representing current position in the header menu */
#header .selection_nipple {
  margin: -1px 0 0 -12px;
  border-bottom: 12px solid rgba(0, 0, 0, 0.3); }

/* FOOTER */
.footer_links a {
  color: rgba(255, 255, 255, 0.8); }
  .footer_links a:hover {
    color: white; }

/* NAVIGATION */
/* Top navigation item */
#dashboard_controls a, #dashboard_controls .control {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: none; }

#dashboard_controls a:hover {
  color: white; }

/* Fixing color of navigation arrows */
#dashboard_controls .dashboard_controls_arrow_first_page {
  background: url("https://31.media.tumblr.com/80917e688e5a148a705531368d5e56dc/tumblr_inline_n29r83foMO1qc8maj.png") !important; }

#dashboard_controls .dashboard_controls_arrow_left {
  background: url("https://31.media.tumblr.com/4fcf9028b898f91101f861f41372200d/tumblr_inline_n29r8gve3w1qc8maj.png") !important; }

#dashboard_controls .dashboard_controls_arrow_right {
  background: url("https://31.media.tumblr.com/04e3d3376bacb1d86a751cd012097c99/tumblr_inline_n29r8nzWNE1qc8maj.png") !important; }

/* Bottom Pagination */
#pagination a {
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px; }
  #pagination a:hover {
    color: white; }

/* CONTENT */
/* Everything concerning posts */
.post_full {
  border-radius: 3px; }
  .post_full:hover {
    border-top-right-radius: 16px; }

/* Create new posts */
/* New post box */
.post.new_post {
  -webkit-border-radius: 6px;
  border-radius: 6px; }

/* Post author color */
.post_full .post_header, .post_full .post_header a {
  color: rgba(0, 0, 0, 0.5); }

.post .post_header a:hover {
  color: rgba(0, 0, 0, 0.7); }

/* Post follow button */
.post .post_info .reblog_follow_button.active i, .post .post_info .reblog_follow_button:hover i, .post .post_info .reblog_follow_button.onboard i {
  background-color: rgba(8, 163, 253, 0.7); }

/* notes */
.post_full .post_footer {
  color: rgba(0, 0, 0, 0.5); }

.post_content {
  background: transparent !important; }

.post_avatar {
  background-color: transparent; }
  .post_avatar .post_avatar_link {
    -webkit-border-radius: 99px;
    border-radius: 99px; }

/* Fixing the top right corner on hover */
.post_full .post_permalink {
  width: 15px;
  height: 15px;
  background: linear-gradient(to right top, #c1c1c1 0%, transparent 80%);
  border: none;
  border-bottom-left-radius: 6px; }

.post_full .post_permalink:before {
  display: none; }

/* Right Column */
.right_column {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding-bottom: 0px;
  margin-top: -1px; }

/* Color statistic numbers */
.controls_section a .count {
  color: rgba(255, 255, 255, 0.6); }

/* Color statistic labels */
.controls_section li a {
  color: rgba(255, 255, 255, 0.6); }

/* Color of the blog title */
.controls_section .currently_selected_blog {
  color: rgba(255, 255, 255, 0.9); }

.controls_section a .count canvas {
  filter: grayscale(100%) brightness(150%);
  -webkit-filter: grayscale(100%) brightness(150%); }

#right_column:after {
  background: none !important; }

.controls_section li {
  background: transparent; }

.controls_section li.account_header, .controls_section li.editors_header, .controls_section li.contributors_header, .controls_section li.section_header {
  color: rgba(255, 255, 255, 0.8); }

/* Fixing ugly gradient on recommended blogs */
.controls_section.user_list li a:before {
  background: transparent;
  border-right: transparent; }

.controls_section.user_list li:hover a:before, .control_hover .controls_section.user_list li:active a:before {
  background: transparent;
  border-right: transparent; }

/* Fixing the plus sign on recommanded blogs */
div.ui_follow, .controls_section li div.follow {
  color: rgba(255, 255, 255, 0.7); }

.controls_section .item:hover .icon_plus {
  color: rgba(255, 255, 255, 0.7); }

div.ui_follow:hover, .controls_section li .follow:hover {
  background: rgba(8, 163, 253, 0.5); }

/* Rounding avatars on Recommended blogs */
.controls_section.user_list .avatar {
  -webkit-border-radius: 99px;
  border-radius: 99px; }

/* Fixing gradients on Tumblr Radar */
.radar .radar_footer .radar_avatar:before {
  background: transparent; }

/* Fixing the plus sign on Tumblr Radar */
.radar .radar_footer .follow {
  color: rgba(255, 255, 255, 0.7);
  margin-right: 6px; }

.radar .radar_footer .follow:hover {
  background: rgba(8, 163, 253, 0.5); }

/* Avatar Tumblr Radar */
.radar .radar_tumblelog_avatar {
  -webkit-border-radius: 99px;
  border-radius: 99px;
  margin-left: 8px;
  margin-right: 12px; }

.radar .radar_avatar img {
  -webkit-border-radius: 99px;
  border-radius: 99px; }

/* XKIT EXTRAS */
/* CLEANFEED */
/* Fixing the color of that ugly light */
#xcleanfeedindicator {
  box-shadow: none;
  opacity: 0.8;
  border: 1px solid rgba(0, 0, 0, 0);
  background: #e41414;
  margin-left: 3px; }
  #xcleanfeedindicator.on {
    background: #1ab11a; }
