// VARIABLES

$background: rgba(0,0,0,0.30);
$post: rgba(255, 255, 255, 1);
$blue: rgba(8, 163, 253, 0.5);

// DASHBOARD

body {
    background: #292929;
	background: url('http://static.tumblr.com/caixd5s/vUCn2bjwp/background2.jpg') center center no-repeat;
	/* Sunrise by Brian Duncan on 500px - http://500px.com/photo/20031647 */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

/* Search field */

.search_form_row {
    background: transparent;
    -moz-box-shadow: 0px 0px 1px 1px rgba(141, 141, 141, 0.4);
    -webkit-box-shadow: 0px 0px 1px 1px rgba(141, 141, 141, 0.4);
    -o-box-shadow: 0px 0px 1px 1px rgba(141, 141, 141, 0.4);
    box-shadow: 0px 0px 1px 1px rgba(141, 141, 141, 0.4);
}

/* Tumblr/web button */
.search_query_input_controls .search_query_btn {
    color: #060A16;
}

/* Main Menu */

.tab_bar .tab.iconic .tab_anchor {
    opacity: 0.4;
}

.tab_bar .tab.iconic:hover .tab_anchor, .tab_bar .tab.iconic:active .tab_anchor {
    opacity: 0.8;
}

.tab_bar .tab {
    color: transparentize($post, 0.2);
    &:hover {
        color: $post;
    }
}
#content {
	background: $background;
	-webkit-border-radius: 6px;
	border-radius: 6px;	
}

/* HELLA NEW BLOOD ORANGE */

#tab_switching .tab_notice, #header .tab .tab_notice, .popover_blogs .tab_notice, .blog_menu .selected_blog .tab_notice {
    background-color: #D8320B;
    border-radius: 3px;
}

/* Arrow representing current position in the header menu */

#header .selection_nipple {
    margin: -1px 0 0 -12px;
    border-bottom: 12px solid $background;
}

/* FOOTER */

.footer_links a {
    color: transparentize($post, 0.2);
    &:hover {
        color: $post;
    }
}

/* Compose */

.plexi.show.color {
    background: opacify($background, 0.4);
}

// ASK

.send_fan_mail {
    margin: 10px 10px 20px 10px;
    background: $blue;
    &:hover {
        background: opacify($blue, 0.3);
    }
}

.no_posts_found {
    background-color: transparent;
    border: none;
}

.controls_section li.section_header {
    border-bottom: 2px solid rgba(255, 255, 255, 0.08);
}

// ACTIVITY

/* Rounding and clearing avatars */

.ui_jumbo_avatar .avatar_image, .ui_jumbo_avatar .avatar_frame, .ui_jumbo_avatar .avatar_glass {
    -webkit-border-radius: 99px;
    border-radius: 99px;
}

.ui_jumbo_avatar .avatar_frame {
    border: none;
}

.ui_jumbo_avatar .avatar_image {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ui_notes .avatar, .ui_notes .avatar .inner_frame {
    -webkit-border-radius: 99px;
    border-radius: 99px;
}

// QUEUE

/* making the queue setter readable */

.dashboard_options_form, .tag_psa {
    border: none;
    background: $background;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: $post;
}

.dashboard_options_form .dashboard_options_form_disclaimer {
    color: $post;
    & a {
        color: $post;
    }
}

.post_full .post_avatar .queue .publish_info.day {
    background: $background;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    color: $post;
    padding-top: 10px;
}

.post_full .post_avatar .queue .publish_info.time {
    background: $background;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    color: transparentize($post, 0.2);
    padding-bottom: 10px;
}

.post_full .post_avatar .publish_info.time {
    top: 47px;
}

// FOLLOWING

#dashboard_useraction_following #container #content, #dashboard_lookup_lookup_contacts #container #content, #dashboard_promoted_directory #container #content {
    padding: 0;
    -webkit-border-radius: 15px 15px 0 0;
    border-radius: 15px 15px 0 0;
    background: url('/images/content_bg_directory.png?2') top left repeat-y #fafafa;
}

// HELP

p.result, p.result .title, p.result a {
    color: $post;
}

/* clearing the search form */

.help_search {
    border: none;
    background: transparent;
    -webkit-border-radius: none;
    border-radius: none;
}

.help_search:after {
    -webkit-box-shadow: none;
    box-shadow: none;
    display: none;
}

#help_full {
    margin-top: -20px;
}

/* Contact button */

.chrome.big.help_contact_support_button {
    color: $post;
    background: $blue;
    border-color: transparent;
}

// OTHER

/* Opaque background when asking confirmation */

.ui_dialog_lock.opaque {
    background: opacify($background, 0.4);
}

/* Notifications */

/* Background notification */

#toaster .toast .toast_border {
    background-color: transparentize($post, 0.8) !important;
    border-radius: 2px;
}

/* Rounded avatar on notification */

#toaster .frame.box_left {
    border-radius: 99px;
}

#toaster .frame.box_left img {
    border-radius: 99px;
}

#toaster .frame.box_right {
    border-radius: 2px;
}