/* NAVIGATION */

/* Top navigation item */

#dashboard_controls a, #dashboard_controls .control {
    color: transparentize($post, 0.2) !important;
    text-shadow: none !important;
}

#dashboard_controls a:hover {
    color: $post !important;
}

/* Fixing color of navigation arrows */

#dashboard_controls .dashboard_controls_arrow_first_page {
    background: url('https://31.media.tumblr.com/80917e688e5a148a705531368d5e56dc/tumblr_inline_n29r83foMO1qc8maj.png') !important;
}

#dashboard_controls .dashboard_controls_arrow_left {
    background: url('https://31.media.tumblr.com/4fcf9028b898f91101f861f41372200d/tumblr_inline_n29r8gve3w1qc8maj.png') !important;
}

#dashboard_controls .dashboard_controls_arrow_right {
    background: url('https://31.media.tumblr.com/04e3d3376bacb1d86a751cd012097c99/tumblr_inline_n29r8nzWNE1qc8maj.png') !important;
}

/* Bottom Pagination */

#pagination a {
    color: transparentize($post, 0.2) !important;
    background: transparentize($background, 0.1) !important;
    border-radius: 3px !important;
    &:hover {
        color: $post !important;
    }
}

/* Inline notifications */

.notification .notification_sentence a {
    color: $post !important;
}

.notification .notification_sentence {
    color: $post !important;
}

.notification .avatar_frame img, .notes .note .avatar_frame img, .ui_avatar .frame img {
    border-radius: 99px !important;
}

/* CONTENT */

/* Everything concerning posts */

.post_full {
	border-radius: 3px !important;
	&:hover {
    	border-top-right-radius: 16px !important; // Adjusting the border for the permalink effect
	}
}

/* Create new posts */

/* New post box */

.post.new_post {
    -webkit-border-radius: 6px !important;
    border-radius: 6px !important;
}

/* Post author color */

.post_full .post_header, .post_full .post_header a {
    color: opacify($background, 0.2) !important;
}

.post .post_header a:hover {
    color: opacify($background, 0.4) !important;
}

/* Post follow button */

.post .post_info .reblog_follow_button.active i, .post .post_info .reblog_follow_button:hover i, .post .post_info .reblog_follow_button.onboard i {
    background-color: opacify($blue, 0.2) !important;
}

/* notes */

.post_full .post_footer {
    color: opacify($background, 0.2) !important;
}

.post_content {
	background: transparent !important !important;
}

.post_avatar {
    background-color: transparent !important;
    & .post_avatar_link {
        -webkit-border-radius: 99px !important;
        border-radius: 99px !important;
    }
}

.post_avatar .post_sub_avatar {
    border-radius: 99px !important;
}

/* Fixing the top right corner on hover */

.post_full .post_permalink {
    width: 15px !important;
    height: 15px !important;
    background-image: -moz-linear-gradient(to right top, rgba(193,193,193,1) 0%, transparent 80%) !important;
    background-image: -webkit-linear-gradient(to right top, rgba(193,193,193,1) 0%, transparent 80%) !important;
    background-image: -o-linear-gradient(to right top, rgba(193,193,193,1) 0%, transparent 80%) !important;
    background-image: -ms-linear-gradient(to right top, rgba(193,193,193,1) 0%, transparent 80%) !important;
    background: linear-gradient(to right top, rgba(193,193,193,1) 0%, transparent 80%) !important;
    border: none !important;
    border-bottom-left-radius: 6px !important;
}

.post_full .post_permalink:before {
    display: none !important;
}

/* Replies to people */

.post_full.is_note .avatar img {
    border-radius: 99px !important;
}