@charset "UTF-8";
/*
Dawn
A simple Tumblr Dashboard theme for XKit.
Made by Jean-François Goncalves
This work is under the MIT licence.
*/
body {
  background: #292929 !important;
  background: url("http://static.tumblr.com/caixd5s/vUCn2bjwp/background2.jpg") center center no-repeat !important;
  /* Sunrise by Brian Duncan on 500px - http://500px.com/photo/20031647 */
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  background-attachment: fixed !important; }

body#search_search {
  background: #284057 !important; }

/* Search field */
.search_form_row {
  background: transparent !important;
  -moz-box-shadow: 0px 0px 1px 1px rgba(141, 141, 141, 0.4) !important;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(141, 141, 141, 0.4) !important;
  -o-box-shadow: 0px 0px 1px 1px rgba(141, 141, 141, 0.4) !important;
  box-shadow: 0px 0px 1px 1px rgba(141, 141, 141, 0.4) !important; }

/* Tumblr/web button */
.search_query_input_controls .search_query_btn {
  color: #060A16 !important; }

/* Main Menu */
.tab_bar .tab.iconic .tab_anchor {
  opacity: 0.4 !important; }

.tab_bar .tab.iconic:hover .tab_anchor, .tab_bar .tab.iconic:active .tab_anchor {
  opacity: 0.8 !important; }

.tab_bar .tab {
  color: rgba(255, 255, 255, 0.8) !important; }
  .tab_bar .tab:hover {
    color: white !important; }

#content {
  background: rgba(0, 0, 0, 0.3) !important;
  -webkit-border-radius: 6px !important;
  border-radius: 6px !important; }

/* HELLA NEW BLOOD ORANGE */
#tab_switching .tab_notice, #header .tab .tab_notice, .popover_blogs .tab_notice, .blog_menu .selected_blog .tab_notice {
  background-color: #D8320B !important;
  border-radius: 3px !important; }

/* Arrow representing current position in the header menu */
#header .selection_nipple {
  margin: -1px 0 0 -12px !important;
  border-bottom: 12px solid rgba(0, 0, 0, 0.3) !important; }

/* FOOTER */
.footer_links a {
  color: rgba(255, 255, 255, 0.8) !important; }
  .footer_links a:hover {
    color: white !important; }

/* Compose */
.plexi.show.color {
  background: rgba(0, 0, 0, 0.7) !important; }

.send_fan_mail {
  margin: 10px 10px 20px 10px !important;
  background: rgba(8, 163, 253, 0.5) !important; }
  .send_fan_mail:hover {
    background: rgba(8, 163, 253, 0.8) !important; }

.no_posts_found {
  background-color: transparent !important;
  border: none !important; }

.controls_section li.section_header {
  border-bottom: 2px solid rgba(255, 255, 255, 0.08) !important; }

/* Rounding and clearing avatars */
.ui_jumbo_avatar .avatar_image, .ui_jumbo_avatar .avatar_frame, .ui_jumbo_avatar .avatar_glass {
  -webkit-border-radius: 99px !important;
  border-radius: 99px !important; }

.ui_jumbo_avatar .avatar_frame {
  border: none !important; }

.ui_jumbo_avatar .avatar_image {
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

.ui_notes .avatar, .ui_notes .avatar .inner_frame {
  -webkit-border-radius: 99px !important;
  border-radius: 99px !important; }

/* making the queue setter readable */
.dashboard_options_form, .tag_psa {
  border: none !important;
  background: rgba(0, 0, 0, 0.3) !important;
  -webkit-border-radius: 3px !important;
  border-radius: 3px !important;
  color: white !important; }

.dashboard_options_form .dashboard_options_form_disclaimer {
  color: white !important; }
  .dashboard_options_form .dashboard_options_form_disclaimer a {
    color: white !important; }

.post_full .post_avatar .queue .publish_info.day {
  background: rgba(0, 0, 0, 0.3) !important;
  -webkit-border-radius: 3px 3px 0 0 !important;
  border-radius: 3px 3px 0 0 !important;
  color: white !important;
  padding-top: 10px !important; }

.post_full .post_avatar .queue .publish_info.time {
  background: rgba(0, 0, 0, 0.3) !important;
  -webkit-border-radius: 0 0 3px 3px !important;
  border-radius: 0 0 3px 3px !important;
  color: rgba(255, 255, 255, 0.8) !important;
  padding-bottom: 10px !important; }

.post_full .post_avatar .publish_info.time {
  top: 47px !important; }

#dashboard_useraction_following #container #content, #dashboard_lookup_lookup_contacts #container #content, #dashboard_promoted_directory #container #content {
  padding: 0 !important;
  -webkit-border-radius: 15px 15px 0 0 !important;
  border-radius: 15px 15px 0 0 !important;
  background: url("/images/content_bg_directory.png?2") top left repeat-y #fafafa !important; }

p.result, p.result .title, p.result a {
  color: white !important; }

/* clearing the search form */
.help_search {
  border: none !important;
  background: transparent !important;
  -webkit-border-radius: none !important;
  border-radius: none !important; }

.help_search:after {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  display: none !important; }

#help_full {
  margin-top: -20px !important; }

/* Contact button */
.chrome.big.help_contact_support_button {
  color: white !important;
  background: rgba(8, 163, 253, 0.5) !important;
  border-color: transparent !important; }

/* Opaque background when asking confirmation */
.ui_dialog_lock.opaque {
  background: rgba(0, 0, 0, 0.7) !important; }

/* Notifications */
/* Background notification */
#toaster .toast .toast_border {
  background-color: rgba(255, 255, 255, 0.2) !important !important;
  border-radius: 2px !important; }

/* Rounded avatar on notification */
#toaster .frame.box_left {
  border-radius: 99px !important; }

#toaster .frame.box_left img {
  border-radius: 99px !important; }

#toaster .frame.box_right {
  border-radius: 2px !important; }

.search_form_active .search_form_field:after {
  border: none !important; }

.search_form_active .search_form_field:before {
  border: none !important; }

.search_form_active .search_query {
  color: white !important; }

/* NAVIGATION */
/* Top navigation item */
#dashboard_controls a, #dashboard_controls .control {
  color: rgba(255, 255, 255, 0.8) !important;
  text-shadow: none !important; }

#dashboard_controls a:hover {
  color: white !important; }

/* Fixing color of navigation arrows */
#dashboard_controls .dashboard_controls_arrow_first_page {
  background: url("https://31.media.tumblr.com/80917e688e5a148a705531368d5e56dc/tumblr_inline_n29r83foMO1qc8maj.png") !important; }

#dashboard_controls .dashboard_controls_arrow_left {
  background: url("https://31.media.tumblr.com/4fcf9028b898f91101f861f41372200d/tumblr_inline_n29r8gve3w1qc8maj.png") !important; }

#dashboard_controls .dashboard_controls_arrow_right {
  background: url("https://31.media.tumblr.com/04e3d3376bacb1d86a751cd012097c99/tumblr_inline_n29r8nzWNE1qc8maj.png") !important; }

/* Bottom Pagination */
#pagination a {
  color: rgba(255, 255, 255, 0.8) !important;
  background: rgba(0, 0, 0, 0.2) !important;
  border-radius: 3px !important; }
  #pagination a:hover {
    color: white !important; }

/* Inline notifications */
.notification .notification_sentence a {
  color: white !important; }

.notification .notification_sentence {
  color: white !important; }

.notification .avatar_frame img, .notes .note .avatar_frame img, .ui_avatar .frame img {
  border-radius: 99px !important; }

/* CONTENT */
/* Everything concerning posts */
.post_full {
  border-radius: 3px !important; }
  .post_full:hover {
    border-top-right-radius: 16px !important; }

/* Create new posts */
/* New post box */
.post.new_post {
  -webkit-border-radius: 6px !important;
  border-radius: 6px !important; }

/* Post author color */
.post_full .post_header, .post_full .post_header a {
  color: rgba(0, 0, 0, 0.5) !important; }

.post .post_header a:hover {
  color: rgba(0, 0, 0, 0.7) !important; }

/* Post follow button */
.post .post_info .reblog_follow_button.active i, .post .post_info .reblog_follow_button:hover i, .post .post_info .reblog_follow_button.onboard i {
  background-color: rgba(8, 163, 253, 0.7) !important; }

/* notes */
.post_full .post_footer {
  color: rgba(0, 0, 0, 0.5) !important; }

.post_content {
  background: transparent !important !important; }

.post_avatar {
  background-color: transparent !important; }
  .post_avatar .post_avatar_link {
    -webkit-border-radius: 99px !important;
    border-radius: 99px !important; }

.post_avatar .post_sub_avatar {
  border-radius: 99px !important; }

/* Fixing the top right corner on hover */
.post_full .post_permalink {
  width: 15px !important;
  height: 15px !important;
  background-image: -moz-linear-gradient(to right top, #c1c1c1 0%, transparent 80%) !important;
  background-image: -webkit-linear-gradient(to right top, #c1c1c1 0%, transparent 80%) !important;
  background-image: -o-linear-gradient(to right top, #c1c1c1 0%, transparent 80%) !important;
  background-image: -ms-linear-gradient(to right top, #c1c1c1 0%, transparent 80%) !important;
  background: linear-gradient(to right top, #c1c1c1 0%, transparent 80%) !important;
  border: none !important;
  border-bottom-left-radius: 6px !important; }

.post_full .post_permalink:before {
  display: none !important; }

/* Replies to people */
.post_full.is_note .avatar img {
  border-radius: 99px !important; }

/* Right Column */
.right_column {
  -webkit-border-radius: 3px !important;
  border-radius: 3px !important;
  padding-bottom: 0px !important;
  margin-top: -1px !important; }

/* Color statistic numbers */
.controls_section a .count {
  color: rgba(255, 255, 255, 0.6) !important; }

/* Color statistic labels */
.controls_section li a {
  color: rgba(255, 255, 255, 0.6) !important; }

/* Color of the blog title */
.controls_section .currently_selected_blog {
  color: rgba(255, 255, 255, 0.9) !important; }

.popover_blogs span {
  color: rgba(0, 0, 0, 0.7) !important; }

/* Color of the URL link */
.blog_menu .selected_blog #open_blog_link {
  color: rgba(255, 255, 255, 0.5) !important; }

/* Fixing padding color of blog spot */
.controls_section .popover_button_blogs {
  border-bottom: 2px solid rgba(255, 255, 255, 0.08) !important; }

/* rounding avatars on popover choosing blog menu */
.popover_blogs .blog_icon {
  border-radius: 99px !important; }

/* Making the activity chart white for webkit browsers */
.controls_section a .count canvas {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale") !important;
  /* Firefox 10+ */
  filter: gray !important;
  /* IE6-9 */
  -webkit-filter: grayscale(100%) brightness(120%) !important;
  filter: grayscale(100%) brightness(150%) !important; }

.controls_section .with_subtitle {
  padding: 13px !important; }

#right_column:after {
  background: none !important; }

.controls_section li {
  background: transparent !important; }

.controls_section li.account_header, .controls_section li.editors_header, .controls_section li.contributors_header, .controls_section li.section_header {
  color: rgba(255, 255, 255, 0.8) !important; }

/* Fixing ugly gradient on recommended blogs */
.controls_section.user_list li a:before {
  background: transparent !important;
  border-right: transparent !important; }

.controls_section.user_list li:hover a:before, .control_hover .controls_section.user_list li:active a:before {
  background: transparent !important;
  border-right: transparent !important; }

/* Fixing the plus sign on recommanded blogs */
div.ui_follow, .controls_section li div.follow {
  color: rgba(255, 255, 255, 0.7) !important; }

.controls_section .item:hover .icon_plus {
  color: rgba(255, 255, 255, 0.7) !important; }

div.ui_follow:hover, .controls_section li .follow:hover {
  background: rgba(8, 163, 253, 0.5) !important; }

/* Rounding avatars on Recommended blogs */
.controls_section.user_list .avatar {
  -webkit-border-radius: 99px !important;
  border-radius: 99px !important; }

/* Fixing gradients on Tumblr Radar */
.radar .radar_footer .radar_avatar:before {
  background: transparent !important; }

/* Fixing the plus sign on Tumblr Radar */
.radar .radar_footer .follow {
  color: rgba(255, 255, 255, 0.7) !important;
  margin-right: 6px !important; }

.radar .radar_footer .follow:hover {
  background: rgba(8, 163, 253, 0.5) !important; }

/* Avatar Tumblr Radar */
.radar .radar_tumblelog_avatar {
  -webkit-border-radius: 99px !important;
  border-radius: 99px !important;
  margin-left: 8px !important;
  margin-right: 8px !important; }

.radar .radar_avatar img {
  -webkit-border-radius: 99px !important;
  border-radius: 99px !important; }

.radar .radar_tumblelog_label .subheading {
  font-size: 10px !important; }

/* XKIT EXTRAS */
/* CLEANFEED */
/* Fixing the color of that ugly light */
#xcleanfeedindicator {
  box-shadow: none !important;
  opacity: 0.8 !important;
  border: 1px solid rgba(0, 0, 0, 0) !important;
  background: #e41414 !important;
  margin-left: 3px !important; }
  #xcleanfeedindicator.on {
    background: #1ab11a !important; }

.xkit-reply-button {
  color: #424242 !important; }
